body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  
}

/* Fondo con imagen de fondo */
body {
  background-image: url("../images/Fondo2.png");
  background-size: cover;
  overflow-y: auto;
}

.Bienvenido{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal; 
  border: 2px solid #ffffff;
  border-radius: 10px; 
  padding: 20px; 
  /* background-color: #121e2ceb; */
  text-align: center;
  color: #acd736;
}

/* Estilos de la barra de navegación */

.navbar{
  display: flex;
  position: relative;
  height: 150px;
  width: 100%;
  background-color: #121e2c !important;
  color: #25a5ac !important;

  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.684);
}

.navbar-brand img {
  height: 80px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-right: 20px; 
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; 
}

.navbar-nav .nav-link {
  color: #fff !important; 
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #b2d454 !important;
}

.login-btn {
  height: 40px;
  width: auto;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff !important;
  border: none;
}

.login-btn:hover,
.login-btn:focus,
.login-btn:active {
  background-color: #0056b3 !important;
}

/* Estilos del footer */
.footer {
  position: relative;
  background-color: #121e2c;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}


@media (min-width: 992px) {
  .navbar {
      height: 120px; 
  }

  .navbar-nav .nav-item {
      margin-right: 30px; 
  }
}

.card {
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  overflow: hidden; 
  transition: box-shadow 0.3s;
  padding: 15px;
  height: 100%;
  background-color: #f6f6f6eb;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /
}

.card-img-top {
  width: fit-content; 
  align-self: center;
  height: 300px; 
}

.card-body {
  padding: 10px;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-title {
  font-size: 1.2rem;
  display: flex;
  /* margin-bottom: 10px; */
}
.card-text {
  margin-bottom: 15px;
  color: #2f3032;
  font-size: 1rem;
}
.login-btn, .btn-log, .btn-reg {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover, .btn-log:hover, .btn-reg:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.btn-primary2:hover, .btn-log:hover, .btn-reg:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.btn-primary,.btn-log, .btn-reg {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btn-log {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  background: linear-gradient(to right, #00bcd4, #007bff);
}

.btn-reg {
  background-color: #337e31;
  border-color: #337e31;
  color: #fff;
  background: linear-gradient(to right, #337e31, #0d3109);
}

.btn-primary2 {
  background-color: #000000;
  border-color: #070707;
  color: #fff;
  background: radial-gradient(rgb(39, 39, 218),rgb(15, 14, 14));
}

.btn .btn-primary .addToFavorites{
  box-shadow: none;
  outline: none;
}
.btn-check:focus+.btn-primary, .btn-primary:focus{
  box-shadow: none;
  outline: none;
}
.addToFavorites.btn-primary:hover, .addToFavorites.btn-primary:focus, .addToFavorites.btn-primary:active{
  box-shadow: none;
  outline: none;
} 

.showDescription {
  margin-top: 10px;
}

.mt-5 {
  min-height: 100%;
}
.addToFavorites{
  display: flex;
  align-items: center;
  justify-content: center;
height: 40px;
width: 40px;
background-color: transparent;
border: none;
}
.addToFavorites.btn-primary:hover,
.addToFavorites.btn-primary:focus,
.addToFavorites.btn-primary:active {
  background-color: transparent !important;
  
}
.far.fa-star{
  color: rgb(133, 132, 132);
}
.far.fa-star:hover {
  color: #ffd700; /* Cambia el color al pasar el cursor por encima */
}
.titleStar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.card-date{
  font-size: small;
}